{% extends "index.html" %}
{% block content %}
    <!-- <h1 class="ui center aligned huge white header" style="color:white;font-size: 4rem;">Stocks</h1> -->
    <div class="ui divider"></div>

    <!-- Moved widgets to splash page-->
    <!-- <div class="flex" id="home-widgets"> -->
    <!-- TradingView Widget BEGIN -->
        <!-- <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
            "colorTheme": "dark",
            "dateRange": "12M",
            "showChart": true,
            "locale": "en",
            "largeChartUrl": "",
            "isTransparent": false,
            "showSymbolLogo": true,
            "showFloatingTooltip": false,
            "width": "45%",
            "height": "100%",
            "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
            "plotLineColorFalling": "rgba(41, 98, 255, 1)",
            "gridLineColor": "rgba(240, 243, 250, 0)",
            "scaleFontColor": "rgba(106, 109, 120, 1)",
            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
            "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
            "tabs": [
            {
                "title": "Indices",
                "symbols": [
                {
                    "s": "FOREXCOM:SPXUSD",
                    "d": "S&P 500 Index"
                },
                {
                    "s": "FOREXCOM:NSXUSD",
                    "d": "US 100 Cash CFD"
                },
                {
                    "s": "FOREXCOM:DJI",
                    "d": "Dow Jones Industrial Average Index"
                },
                {
                    "s": "INDEX:NKY",
                    "d": "Nikkei 225"
                },
                {
                    "s": "INDEX:DEU40",
                    "d": "DAX Index"
                },
                {
                    "s": "FOREXCOM:UKXGBP",
                    "d": "FTSE 100 Index"
                }
                ],
                "originalTitle": "Indices"
            },
            {
                "title": "Futures",
                "symbols": [
                {
                    "s": "CME_MINI:ES1!",
                    "d": "S&P 500"
                },
                {
                    "s": "CME:6E1!",
                    "d": "Euro"
                },
                {
                    "s": "COMEX:GC1!",
                    "d": "Gold"
                },
                {
                    "s": "NYMEX:CL1!",
                    "d": "WTI Crude Oil"
                },
                {
                    "s": "NYMEX:NG1!",
                    "d": "Gas"
                },
                {
                    "s": "CBOT:ZC1!",
                    "d": "Corn"
                }
                ],
                "originalTitle": "Futures"
            },
            {
                "title": "Bonds",
                "symbols": [
                {
                    "s": "CBOT:ZB1!",
                    "d": "T-Bond"
                },
                {
                    "s": "CBOT:UB1!",
                    "d": "Ultra T-Bond"
                },
                {
                    "s": "EUREX:FGBL1!",
                    "d": "Euro Bund"
                },
                {
                    "s": "EUREX:FBTP1!",
                    "d": "Euro BTP"
                },
                {
                    "s": "EUREX:FGBM1!",
                    "d": "Euro BOBL"
                }
                ],
                "originalTitle": "Bonds"
            },
            {
                "title": "Forex",
                "symbols": [
                {
                    "s": "FX:EURUSD",
                    "d": "EUR to USD"
                },
                {
                    "s": "FX:GBPUSD",
                    "d": "GBP to USD"
                },
                {
                    "s": "FX:USDJPY",
                    "d": "USD to JPY"
                },
                {
                    "s": "FX:USDCHF",
                    "d": "USD to CHF"
                },
                {
                    "s": "FX:AUDUSD",
                    "d": "AUD to USD"
                },
                {
                    "s": "FX:USDCAD",
                    "d": "USD to CAD"
                }
                ],
                "originalTitle": "Forex"
            }
            ]
        }
            </script>
        </div> -->
  <!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
       <!-- <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
            {
            "feedMode": "all_symbols",
            "isTransparent": false,
            "displayMode": "regular",
            "width": "45%",
            "height": "100%",
            "colorTheme": "dark",
            "locale": "en"
        }
            </script>
        </div> -->
        <!-- TradingView Widget END -->
    
        <!-- TradingView Widget BEGIN -->
        <!-- <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
            {
            "width": "50%",
            "height": "50%",
            "defaultColumn": "overview",
            "defaultScreen": "most_capitalized",
            "market": "america",
            "showToolbar": true,
            "colorTheme": "dark",
            "locale": "en"
        }
            </script>
        </div> -->
  <!-- TradingView Widget END -->


        <!-- TradingView Widget BEGIN -->
                <!-- <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-stock-heatmap.js" async>
                    {
                        "exchanges": [],
                        "dataSource": "SPX500",
                        "grouping": "no_group",
                        "blockSize": "market_cap_basic",
                        "blockColor": "Perf.YTD",
                        "locale": "en",
                        "symbolUrl": "",
                        "colorTheme": "dark",
                        "hasTopBar": false,
                        "isDataSetEnabled": false,
                        "isZoomEnabled": true,
                        "hasSymbolTooltip": true,
                        "width": "50%",
                        "height": "50%"
                    }
                    </script>
                </div> -->
<!-- TradingView Widget END -->
    
    
    <!--End Widgets -->


    <h1 class="ui white center aligned huge header"  style="color:white;">All Stocks</h1>
    <form action="/?search={{ searchInput }}" method="get">
       <div class="ui fluid icon big input">
            <!-- <i class="search icon"></i> -->
            <input type="text" placeholder="Search stocks..." id="searchInput" name="searchInput">
            
            <button type="submit" class="ui button">Search</button>    
        </div>
        <div class="ui divider"></div>
        <!-- <button type="submit" class="ui fluid button" id="searchButton">Search</button> -->
    </form>
    
    
    <div class="ui divider"></div>
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Recent Close</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td><a style="color: white;" href="/stock/{{stock.url_symbol}}">{{ stock.name }}</a></td>
                <td>{{ stock.recent_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="ui divider"></div> 
    

    {% if pages > 1 %}
    <div class="ui fluid pagination menu">
        <a class="icon item left attached" id="prevPage" href="javascript:void(0)"> 
            <i class="left chevron icon"></i>
        </a>

        <div id="pagesContainer" style="overflow-x: auto; white-space: nowrap; display: flex; flex-direction: row;">
        
            {% if searchInput %}
                {% for page_num in range(1, pages) %}
                    <a class="item" href="/?searchInput={{ searchInput }}&page={{ page_num }}">{{ page_num }}</a>
                {% endfor %}
            
            {% else %}

            {% for page_num in range(1, pages) %}
                <a class="item" href="/?page={{ page_num }}">{{ page_num }}</a>
            {% endfor %}
            {% endif %}
        </div>
        
        

        <a class="icon item right attached" id="nextPage" href="javascript:void(0)">
            <i class="right chevron icon"></i>
        </a>
    </div>
    {% endif %}



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#prevPage').click(function() {
                $('#pagesContainer').animate({
                    scrollLeft: "-=500px"
                }, "slow");
            });

            $('#nextPage').click(function() {
                $('#pagesContainer').animate({
                    scrollLeft: "+=500px"
                }, "slow");
            });
        });
    </script>
    </div>
        
    
{% endblock %}