{% extends "index.html" %}
{% block content %}
    
    <h1 class="ui white center aligned header">Favorite Stocks</h1>
    <div class="ui divider"></div>

    <!--close ui container-->
    </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 40vh; width: 80vw; margin: auto;">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="height:100%;width:100%">
            <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
            {
                "container_id": "watchlist-chart-demo",
                "width": "100%",
                "height": "100%",
                "autosize": true,
                "symbol": "NASDAQ:AAPL",
                "interval": "D",
                "timezone": "exchange",
                "theme": "dark",
                "style": "1",
                "withdateranges": true,
                "allow_symbol_change": true,
                "save_image": false,
                "watchlist": [{{ favorite_symbols }}]
            }
            </script>
             <!-- <script type="text/javascript"> -->
            <!-- //         var favoriteSymbols = JSON.parse('{{ favorite_symbols | tojson | safe }}');
            //     
            //     "watchlist": favoriteSymbols,

            // "watchlist": [
            //         "AAPL",
            //         "IBM",
            //         "TSLA",
            //         "AMD",
            //         "MSFT",
            //         "GOOG"] -->
            
            </div>
        <!-- TradingView Widget END -->
        </div>

        <div class="ui divider"></div>
        <!--open ui container from index file-->
        <div class="ui container">
        
        {% for symbol in favorite_symbols %}
            <a href="/stock/{{ symbol }}" class="ui label">{{ symbol }}</a>
        {% endfor %}

    
    {% for symbol in recent_symbols %}
        <a href="/stock/{{ symbol }}" class="ui label">{{ symbol }}</a>
    {% endfor %}
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td><a style="color: lightgrey;" href="/stock/{{  stock.symbol  }}">{{ stock.name }}</a></td>
                <td>{{ stock.high }}</td>
                <td>{{ stock.low }}</td>
                <td>{{ stock.close }}</td>
                <td>{{ stock.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}