{% extends "index.html" %}
{% block content %}
    <h1 class="ui white center aligned huge header">Home</h1>
    <div class="ui divider"></div>
    <h2 class="ui white center aligned header">Stocks</h2>
    
    
    <form action="/?search={{ searchInput }}" method="get">
       <div class="ui fluid icon input">
            <input type="text" placeholder="Search stocks..." id="searchInput" name="searchInput">
            <i class="search icon"></i>
        </div>
        <button type="submit" class="ui button" id="searchButton">Search</button>
    </form>
    
    
    <div class="ui divider"></div>
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Recent Close</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td><a style="color: lightgrey;" href="/stock/{{  stock.symbol  }}">{{ stock.name }}</a></td>
                <td>{{ stock.recent_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="ui divider"></div> 
    
    <div class="ui pagination menu">
        <a class="icon item left attached" href="/?page"> 
            <i class="left chevron icon"></i>
        </a>

        <a class="icon item right attached" href="/?page">
            <i class="right chevron icon"></i>
        </a>
    </div>
        
    
{% endblock %}