<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Full Stock</title>
        <link rel="icon" href="../assets/candle-stick-chart.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    </head>

    <body style="background-image: url('../assets/bull-background.jpeg'); 
                                    background-size: cover; 
                                    background-attachment:fixed; 
                                    background-position-x: center;  ">
        <div class="ui menu huge header" >
            <div class="huge header item" style="font-size: 30px;">
                <img src="../assets/chart-dark.png" alt="candle-stick-chart" style="height: 80px; width: 80px;" />
                Full Stock
            </div>

            <nav class="right menu">
                <a class="item" href="/">All</a>
                <a class="item" href="/popular">Popular</a>
                <a class="item" href="/recent">Recent</a>
                <a class="item" href="/favorites">Favorites</a>
                <a class="item" href="/intraday_highs">New Intraday Highs</a>
                <a class="item" href="/intraday_lows">New Intraday Lows</a>
                <a class="item" href="/closing_highs">New Closing Highs</a>
                <a class="item" href="/closing_lows">New Closing Lows</a>
                <a class="item" href="/portfolio">My Portfolio</a>

                <!-- <form class="ui item" method="get">
                    <select class="ui dropdown" name="filter" title="filter" default="{{ stock_filter }}" >
                        <option value="all">All</option>
                        <option value="recent">Recent</option>
                        <option value="popular">Popular</option>
                        <option value="new_intraday_highs">New Intraday Highs</option>
                        <option value="new_intraday_lows">New Intraday Lows</option>
                        <option value="new_closing_highs">New Closing Highs</option>
                        <option value="new_closing_lows">New Closing Lows</option>
                    </select>
                    <input class="ui button" type="submit">
                </form> -->
            </nav>

            
            
        </div>
        
        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>




</div>