{% extends "index.html" %}
{% block content %}
    
<h1 class="ui white center aligned huge header"  style="color:white;">Intraday Data</h1>
<h2 class="ui white center aligned header"  style="color:white;">{{ header_txt }}</h2>
    <div class="ui divider"></div>

    <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
            {
            "width": "100%",
            "height": "500",
            "symbolsGroups": [
            {
                "name": "Stocks",
                "symbols":[
                        
                        {
                            "name": "{{ stocks[0].exchange }}:{{stocks[0].symbol }}",
                            "displayName": "{{ stocks[0].name }}"
                        },
                        {
                            "name": "{{ stocks[1].exchange }}:{{stocks[1].symbol }}",
                            "displayName": "{{ stocks[1].name }}"
                        },
                        {
                            "name": "{{ stocks[2].exchange }}:{{stocks[2].symbol }}",
                            "displayName": "{{ stocks[2].name }}"
                        },
                        {
                            "name": "{{ stocks[3].exchange }}:{{stocks[3].symbol }}",
                            "displayName": "{{ stocks[3].name }}"
                        },
                        {
                            "name": "{{ stocks[4].exchange }}:{{stocks[4].symbol }}",
                            "displayName": "{{ stocks[4].name }}"
                        },
                        {
                            "name": "{{ stocks[5].exchange }}:{{stocks[5].symbol }}",
                            "displayName": "{{ stocks[3].name }}"
                        },
                        {
                            "name": "{{ stocks[6].exchange }}:{{stocks[6].symbol }}",
                            "displayName": "{{ stocks[6].name }}"
                        },
                        {
                            "name": "{{ stocks[7].exchange }}:{{stocks[7].symbol }}",
                            "displayName": "{{ stocks[7].name }}"
                        },
                        {
                            "name": "{{ stocks[8].exchange }}:{{stocks[8].symbol }}",
                            "displayName": "{{ stocks[8].name }}"
                        },
                        {
                            "name": "{{ stocks[9].exchange }}:{{stocks[9].symbol }}",
                            "displayName": "{{ stocks[9].name }}"
                        }
                    ]
             
                }
            ],
            "showSymbolLogo": true,
            "isTransparent": false,
            "colorTheme": "dark",
            "locale": "en",
            "backgroundColor": "#131722"
        }
            </script>
        </div>
        <!-- TradingView Widget END -->
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>High</th>
                <th>Low</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td><a style="color: lightgrey;" href="/stock/{{  stock.symbol  }}">{{ stock.name }}</a></td>
                <td>{{ stock.high }}</td>
                <td>{{ stock.low }}</td>
                <td>{{ stock.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ui divider"></div>

{% endblock %}
<!-- 
{% for stock in stocks %}
                    {
                        "name": "{{ stock.exchange }}:{{stock.symbol }}",
                    }
                    {% endfor %} -->