{% extends "index.html" %}
{% block content %}

<h1 class="ui huge header center aligned" style="color: white;">My Portfolio</h1>

<div class="ui divider"></div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "1M",
  "exchange": "US",
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "500",
  "largeChartUrl": "",
  "isTransparent": false,
  "showSymbolLogo": false,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
  "plotLineColorFalling": "rgba(41, 98, 255, 1)",
  "gridLineColor": "rgba(42, 46, 57, 0)",
  "scaleFontColor": "rgba(209, 212, 220, 1)",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
}
  </script>
</div>
<!-- TradingView Widget END -->

<div class="ui divider"></div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
    {
    "width": "100%",
    "height": "100%",
    "symbolsGroups": [
      {
        "name": "Vested Stocks",
        "symbols": [
          {
            "name": "{{ portfolio[0].exchange }}:{{ portfolio[0].symbol }}"
          },
          {
            "name": "{{ portfolio[1].exchange }}:{{ portfolio[1].symbol }}"
          },
          {
            "name": "{{ portfolio[2].exchange }}:{{ portfolio[2].symbol }}"
          }
        ]
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": false,
    "colorTheme": "dark",
    "locale": "en",
    "backgroundColor": "#131722"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->

<div class="ui divider"></div>
<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Exchange</th>
            <th>Strategy</th>

        </tr>
    </thead>

    <tbody>
        {% for strategy in portfolio %}
            <tr>
                <td>{{ strategy['symbol'] }}</td>
                <td>{{ strategy['name'] }}</td>
                <td>{{ strategy['exchange'] }}</td>
                <td>{{ strategy['viewable_name'] }}</td>
            </tr>
        {% endfor %}
    
    </tbody>


</table>
<div class="ui divider"></div>

{% endblock %}
