{% extends "index.html" %}
{% block content %}

<h1 class="ui huge header center aligned" style="color: white;">My Portfolio</h1>
<div class="ui divider"></div>

<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Exchange</th>
            <th>Strategy</th>

        </tr>
    </thead>

    <tbody>
        {% for strategy in portfolio %}
            <tr>
                <td>{{ strategy['symbol'] }}</td>
                <td>{{ strategy['name'] }}</td>
                <td>{{ strategy['exchange'] }}</td>
                <td>{{ strategy['viewable_name'] }}</td>
            </tr>
        {% endfor %}
    
    </tbody>


</table>
<div class="ui divider"></div>

{% endblock %}
