<!-- htmlhint disable -->
<!-- eslint disable -->
{% extends "index.html" %}
{% block content %}
    
    <h1 class="ui huge header center aligned" style="color: white;font-size: 4rem;">{{ stock.name }}</h1>
    
    <div class="ui container flex">
        {% if stock.id in favorite_stocks %}
            <form class="ui left floated header" method="post" action="/remove_favorite/{{ stock.id }}">
                <input class="ui white button left floated" type="submit" value="Remove from Favorites"/>
            </form>
        {% else %}
        <from class="ui left floated header" method="post" action="/add_favorite/{{ stock.id }}">
            <input class="ui white button left floated" type="submit" value="Add to Favorites"/>
        </form>
        {% endif %}
        
        <form class="ui right floated header" method="post" action="/add_to_strategy/{{ stock.id }}">
            <select class="ui dropdown" name="strategy" title="strategy" default="Add to Strategy">
                {% for strategy in strategies %}
                    <option class="item" value="{{ strategy.id }}">{{ strategy.viewable_name }}</option>
                {% endfor %}
            </select>   
            <input class="ui white button right floated" type="submit" value="Add to Strategy"/>
        </form>
    </div>   
    
    <div class="ui divider"></div>
    <h2 class="ui header center aligned" style="color: white;">Recent Stock Data</h2>
    <div class="ui divider"></div>
    
    </div> <!-- Closing the UI container from the index file -->
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh; width: 80vw; margin: auto;">
            
            <!-- TradingView Technical Analysis Widget BEGIN -->
            <div class="tradingview-widget-container" style="height:100%;width:100%">
                <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                    {
                    "container_id": "technical-analysis-chart-demo",
                    "width": "100%",
                    "height": "100%",
                    "autosize": true,
                    "symbol": "{{stock.symbol}}",
                    "interval": "D",
                    "timezone": "exchange",
                    "theme": "dark",
                    "style": "1",
                    "withdateranges": true,
                    "hide_side_toolbar": false,
                    "allow_symbol_change": true,
                    "save_image": false,
                    "details": true,
                    "studies": [
                        "ROC@tv-basicstudies",
                        "StochasticRSI@tv-basicstudies",
                        "MASimple@tv-basicstudies"
                        ],
                    "show_popup_button": true,
                    "popup_width": "1000",
                    "popup_height": "650",
                    "support_host": "https://www.tradingview.com"
                    }
                </script>
            </div>
            <!-- TradingView Technical Analysis Widget END -->
        </div>
    
        <!-- Open UI container from index file -->
    <div class="ui container">

    <div class="ui divider"></div>
    <h2 class="ui header center aligned" style="color: white;">Historical Stock Data</h2>

    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
                <tr>
                    <td>{{ price.date }}</td>
                    <td>{{ price.open }}</td>
                    <td>{{ price.high }}</td>
                    <td>{{ price.low }}</td>
                    <td>{{ price.close }}</td>
                    <td>{{ price.volume }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

