{% extends "index.html" %}
{% block content %}
    <h1 class="ui header center aligned">{{ stock.name }}</h1>
    <div class="ui divider"></div>
    <h2 class="ui header center aligned">Stock Data</h2>
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>Close</th>
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
                <tr>
                    <td>{{ price.date }}</td>
                    <td>{{ price.open }}</td>
                    <td>{{ price.close }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

